*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

caption{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2c3e50;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

table{
    border-collapse: collapse;
    margin: 30px auto;
}

th, td{
    border: 2px solid #34495e;
    padding: 10px 15px;
    text-align: center;
    border-right: 1px solid peru;
    border-left: 2px dotted blue;
    border-bottom: 1px solid violet;
}

tbody tr:first-child{
    background-color: aquamarine;
}

tbody tr:last-child{
    background-color: lightcoral;
}

tbody tr:nth-child(2n){
    background-color: lightgray;
}

colgroup col:nth-last-child(2){
    background-color: lightyellow;
}

tbody tr:hover{
    background-color: #f39c12;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.02);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

input:enabled{
    background-color: lightseagreen;
}

input:disabled{
    background-color: rgb(255, 2, 2);
}

input:checked{
    width: 50px;
    height: 50px;
    transform: scale(1.2);
    cursor: pointer;
}
