*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
#navegacion{
    height: 50px;
    background-color: lightblue;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    letter-spacing: 2px;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    border: 2px solid #3498db;
    transition: background 0.3s, color 0.3s;
}
#navegacion:hover{
    background-color: #2980b9;
    color: #ecf0f1;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    border-color: #2980b9;
    cursor: crosshair;
}


#slider{
    height: 150px;
    background-color: lightgray;
}

#servicios{
    background-color: lightgreen;
    height: 120px;
}
.servicio{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 40%;
    display: inline-block;
    line-height: 100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.servicio h5{
    font-size: 16px;
    color: gray;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    transition: color 0.3s, transform 0.3s;
}
.servicio h5:hover{
    color: #27ae60;
    transform: scale(1.1);
    cursor: pointer;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}

#footer{
    background-color: lightcoral;
}

[id="selectAnimales"]{
    background-color: black;
    color: white;
}

[value=""]{
    background-color: yellow;
}
[value="perro"]{
    background-color: brown;
    color: white;
}
[value="gato"]{
    background-color: gray;
    color: white;
}
[value="pez"]{
    background-color: orange;
    color: white;
}
[value="loro"]{
    background-color: green;
    color: white;
}
[value="hamster"]{
    background-color: lightgray;
    color: black;
}

.animales2 [value="perro"]{
    background-color: rgb(0, 255, 76);
    color: white;
}
